@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

* {
  box-sizing: inherit;
}

img, video {
  max-width: 100%;
  height: auto;
}